.card {
  width: 250px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.brand {
  margin: 0;
}

.price {
  margin: 0;
  align-self: end;
  color: var(--app-color-text);
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .card {
    width: 150px;
  }
}
